.Chat-main
  .Chat-main__group-info
    .Info__group-name
      .Info__name
        = @group.name
      %ul.Info__group-member
        Member：
        %li.Info__member-list
          - @group.users.each do |user|
            = user.name

    .Info__edit-btn
      =link_to edit_group_path(current_user) do
        Edit
  .Chat-main__message-list
    = render @messages
      
      
  .Chat-main__message-form
    .main-header
    .messages
    = form_with model: [@group,@message], html: {class: "form"}, local: true do |f|
      .new_message
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: "input-box__image" do
            = icon('far', 'image', class: 'Form__icon')
            = f.file_field :image, class: "input-box__image__file"
      = f.submit 'Send', class: "submit-btn"



      -# %form.new_message
      -#   .input-box
      -#   %input{type: "text", class: "input-box__text", placeholder: "type a message"}
      -#   %label{class: "input-box__image"}
      -#     =icon('far', 'image')
      -#     %input{type:"file", class: "input-box__image__file",name: "message[image]"}
      -# %input{type: "submit", class: "submit-btn", name: "commit", value: "Send"}







